{% extends 'base.html' %}

{% block content %}

{% if message %}
<p style="color: red;">{{ message }}</p>
{% endif %}
{% if success %}
<p style="color: green;">{{ success }}</p>
{% endif %}

<div class="container">
    <details>
        <summary class="expand-text">Expand to Input Data</summary>
        <form action="/add" method="post">
            <hr>
            <label>Input Data</label>
            <div class="input-container">
                <label for="staff_mvp">Staff MVP:</label>
                <input type="text" id="staff_mvp" name="staff_mvp" placeholder="Enter a staff MVP" required>

                <label for="daily_earnings">Daily Earnings:</label>
                <input type="number" step=".01" id="daily_earnings" name="daily_earnings" placeholder="Enter daily earnings" required>

                <label for="biggest_basket">Biggest Basket:</label>
                <input type="number" step="any" id="biggest_basket" name="biggest_basket" placeholder="Enter biggest basket" required>

                <label for="best_seller">Best Seller:</label>
                <input type="text" id="best_seller" name="best_seller" placeholder="Enter best-selling item" required>

                <label for="worst_seller">Worst Seller:</label>
                <input type="text" id="worst_seller" name="worst_seller" placeholder="Enter worst-selling item" required>

                <label for="day">Day:</label>
                <select id="day" name="day">
                    <option value="Sunday">Sunday</option>
                    <option value="Monday">Monday</option>
                    <option value="Tuesday">Tuesday</option>
                    <option value="Wednesday">Wednesday</option>
                    <option value="Thursday">Thursday</option>
                    <option value="Friday">Friday</option>
                    <option value="Saturday">Saturday</option>
                </select>
            </div>

            <button type="submit">Submit Data</button>
        </form>
    </details>
    <hr>

<div class="dashboard">
    <div class="segment">
        <h1>Days With Completed Records</h1>
        
        <p>{% for day in all_days %}{{ day }}{% if not loop.last %}, {% endif %}{% endfor %}</p>
        
    </div>
</div>
<hr>
<section class="dashboard">
    <div class="segment">
        <h2>MVP:</h2>
        <p>{{ common_name }}</p>
    </div>
    <div class="segment">
        <h2>Highest income </h2>
        <p>£{{ '%.2f'|format(highest_day) }} on {{ best_daily_earnings}}</p>
    </div>
    <div class="segment">
        <h2>Biggest Basket:</h2>
        <p>£{{ '%.2f'|format(biggest_basket_earnings) }}</p>
    </div>
    <div class="segment">
        <h2>Best Selling Item:</h2>
        <p>{{ common_best_seller }}</p>
    </div>
    <div class="segment">
        <h2>Worst Selling Item:</h2>
        <p>{{ common_worst_seller }}</p>
    </div>
</section>
<hr>

<div class="graph-container">
    <h1>Graph</h1>
    <img src="data:image/png;base64,{{ graph_url }}" alt="Earnings Graph">
</div>

{% endblock %}
