{% extends 'base.html' %}

{% block content %}

<details>
    <summary>
        Expand to Input Data
    </summary>
    <form action="/add2" method="post">
        <hr>
        <label>Input Data</label>
        <div class="input-container">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" placeholder="Enter a staff name" required>
            <label for="voids">Number of Voids:</label>
            <input type="number" id="voids" name="voids" placeholder="Enter number of voids" required>
        </div>
        <button type="submit">Submit Data</button>
    </form>

</details>
<hr>
<div class="graph-container">
    <h1>Graph</h1>
    <img src="data:image/png;base64,{{ graph_url }}" alt="Voids_graph">
    <form action="/page10" method="post">
        <label for="sort_criteria">Sort by:</label>
        <select id="sort_criteria" name="sort_criteria">
            <option value="name_asc">Name (A-Z)</option>
            <option value="name_desc">Name (Z-A)</option>
            <option value="voids_asc">Voids (Low to High)</option>
            <option value="voids_desc">Voids (High to Low)</option>
        </select>
        <button type="submit">Sort</button>
    </form>

</div>

{% endblock %}